body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light grey background for the entire page */
}

.dashboard-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  

}

.dashboard-content h2 {
  color: #333;
}

.dashboard-content button {
  width: 200px;
  padding: 15px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.dashboard-content button:hover {
  background-color: #45A049;
}

.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  max-width: 600px; /* Set a maximum width for the video */
  height: auto;
  object-fit: contain;
}
