body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #000; /* Set background color to black */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Add some padding for mobile responsiveness */
  position: relative;
}

.container > img {
position: absolute;
top: 5%;
left: 5%;
filter: drop-shadow(5px 5px 5px #222); 
}

.form-container {
  background: rgba(255, 255, 255, 0.8); /* Slightly opaque white background */
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Limit form width */
  width: 100%; /* Full width for smaller screens */
  backdrop-filter: blur(10px); /* Apply blur effect */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 12px; /* Adjusted padding for better spacing */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

button {
  width: 100%;
  padding: 12px; /* Adjusted padding for buttons */
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Increased font size */
}

button:hover {
  background-color: #45A049;
}

.form-container span {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.form-container p {
  text-align: center;
  margin-top: 15px;
}

        body {
            height: 100vh;
            margin: 0;
            background: linear-gradient(45deg, #ff6b6b, #f06595, #845ef7, #5c7cfa);
            background-size: 300% 300%;
            animation: gradientAnimation 10s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
  /* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.app-container button {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-container button:hover {
  background-color: #0056b3;
}

.main-content {
  display: flex;
  gap: 20px;
}

.create-template-container,
.template-list {
  flex: 1;
}

.showPass {
  transform: scale(2);
}

.user-icon {
  display: block;
  margin: 0 auto 20px auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}